*{
    /* isso é da laura  */
    margin: 0;
    padding: 0;
    text-decoration: 0;
}
main{
   background-color: #ebebeb81;
}

.container-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: brown;
}

.sale-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sale-card img{
    width: 100%;
}

.sale-card h2{
    margin-top: -14%;
    margin-bottom: 15%;
    background-color: brown;
    color: wheat;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 6% 0 6%;
    text-align: center;
    padding: 2%;
    box-shadow: 0px 17px 9px -15px rgba(0, 0, 0, 0.336);
}

article img{
    width: 100%;
    border-radius: 33%;
    height: auto;
    margin-top: 5%;
}

article a{
    background-color: brown;
    color: white;
    margin-top: 5%;
    font-size: larger;
}

article a:hover{
    background-color: rgba(230, 132, 66, 0.432);
    color: brown;
    border: 1px solid brown;
}

section h2{
    padding: 2%;
}

article h2{
    padding: 2%;
}

.list-container{
    display: flex;
    flex-direction: column;
    list-style-position: inside;
}

.list-container p{
    text-align: left;
}

.list-container li{
    text-align: left;
}  

/* começo da sessão Desktop do main da Home */

@media screen and (min-device-width : 1200px){


    article{
        display: flex;
        flex-direction: row;
    }

    article img{
        width: 50%;
        padding-right: 5%;
    }

    article home-text{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }

    .home-text a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 10%;
        margin-left: 25%;
        max-width: 50%;
    }

    .reverse-products{
        flex-direction: row-reverse;
    }

    .reverse-products img{
        padding-left: 5%;
    }

    .list-container p{
        margin-left: 6%;
    }

    .list-container li{
        margin-left: 6%;
    }

}
/* acabou da laura */